.containerBacklog {
  width: 80vw;
  margin: 0.8rem;
}

.title {
  color: #000;
  font-size: 32px;
  font-weight: bold;
}

.buttonTask {
  all: unset;
  background-color: #74a3d3;
  color: #fff;
  padding: 1rem;
  border-radius: 10rem;
  display: flex;
  gap: 5px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.buttonTask:hover {
  cursor: pointer;
}
