.containerSprint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.titleButton {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 5px;
}

.title {
  font-size: 24px;
  color: rgba(116, 163, 211, .5);
  font-weight: bold;

}

.button {
  all: unset;
  border: 3px solid rgba(116, 163, 211, .5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.button:hover {
  cursor: pointer;
}

.containerTasks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.tasks {
  background-color: rgba(116, 163, 211, .5);
  width: 25vw;
  height: 70vh;
  border-radius: 5px;
}

.titleTask {
  color: #fff;
  text-align: center;
  margin-top: 5px;
}